@charset "utf-8";

/*=====================================================
#mixin
=====================================================*/
$breakpoints:(

   'sm':'screen and (max-width: 767px)',
   'md':'screen and (min-width: 768px)',
) !default;

@mixin mq($breakpoint: md){
    @media #{map-get($breakpoints, $breakpoint)}{
        //この中をカスタムできる
        @content;
    }
}

/*=====================================================
#colors
=====================================================*/
$primary-color:#FFFFFF;
$font-color1:#3E3E3E;
$font-color2:#FFFFFF;
$background:#F3F3F3;


/*=====================================================
# common - 全体に共通するスタイル
=====================================================*/
body{
    font-size: 16px;
    color:$font-color1;
    font-family: 'Montserrat', "游ゴシック", sans-serif;
    line-height: 1.2142;
    text-align:center;
    background-color:$background;
}

ul{
    list-style: none;
}

img{
    width: 100%;
}

.inner {
    max-width:1220px;
    margin:0 auto;
    padding:0 40px;
    box-sizing: content-box;
    @include mq(sm){
        padding:0 15px;
    }
}

a{
    color:$font-color1;
    background-color: transparent;
}
.inner-section-title{
    h2{
        padding-top: 60px;
    }
}


h2{
   font-size:36px;
   font-weight: bold;
}

h1{
  font-size:36px;
}
h3{
    font-size:20px;
}


/*=====================================================
#ヘッダー
=====================================================*/
header{

}


.header-navigation nav ul{
    display: flex;
    justify-content: center;

    li{
     padding: 32px 20px;
    }
}

.header-top-part{
    height:565px;

    background: url(../img/mv.png) top right 100% no-repeat;
    background-size:  cover;
}
.header-top-title{
    padding-top:153px;
    h1{
      padding-top: 153px;
      text-align:left;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    p{
        margin-top: 40px;
        text-align:left;
        margin-top:40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    button{
        font-size:18px;
        font-weight: bold;
        background-color:#FFAA3B ;
        box-shadow: 0px 3px 5px #3E3E3E33;
        border-radius: 4px;
        width:282px;
        margin-top: 32px;
        height:50px;
    }
    button a{
        color:$font-color2;

    }
}

/*=====================================================
#ニュース
=====================================================*/
.news{
}

.news-inner-section{
    margin: 120px 0;
    max-width: 1200px;
    height: 659px;
    background-color: #fff;

}
.news-text-area-content{
   margin-top: 60px;
}

.news-section-text-area{
    margin: 0 20px;
    border-top: 1px solid ;
    margin-top: 0px;
    display: flex;
    justify-content: flex-start;
    vertical-align: center;

    p{
        text-align: left;
        padding: 40px;
        padding-left:0px;
    }
    img{
        width: 43px;
        height: 46px;
    }
}

.news-section-text-area:nth-child(3){
    border-bottom: 1px solid ;
}


.news-text-area-date{
    margin-top: 7px;
}
.news-text-area-date-button{
    font-size:14px;

    width:121px;
    height:30px;
    border: 2px solid #3B69FF;
    border-radius: 50px;
    background-color: #fff;

    a{

    }

}
.news-text-area{
    font-size:18px;
}

.news-more-button{
    margin-top:50px;
  a{
    border:1px solid;
    letter-spacing: 4px;
    padding:10px 50px;
    background-color: #fff;
   }
}


/*=====================================================
#サービス
=====================================================*/
.service{
    background-color:#3E3E3E;
    height: 400px;
}
.service-inner-section{
    h2{
       color:#FFFFFF;
    }
}

.service-content-items{
    display: flex;
    max-width:960px;
    background-color: #fff;
    margin:60px auto 0;
}
.service-content-item{
    max-width: 230px;
    margin: 60px auto 60px;
    img{
        width: 64px;
        height: 64px;
    }
    h3{
        font-size:20px;
        font-weight: bold;
        padding-top: 8px;
    }
    p{
        padding-top: 20px;
    }
}


/*=====================================================
#Result
=====================================================*/
.result{
    margin-top: 215px;
}

.result-inner-section{
    max-width:1240px;
    background-color:#3E3E3E;
    height: 754px;
    margin-bottom: 60px;

    h2{
      color:#fff;
      text-align: left;
      margin-left: 60px;
    }
}

.result-content-items{
    margin-top: 60px;
    display: flex;
}
.result-content-item{
    background-color: #fff;
    margin:0 20px;
    text-align: left;

    h3{
      padding:16px;
    }
    p{
      padding-bottom:16px;
      padding-left: 16px;
    }
}
.result-circle{
    text-align:left;
    margin-top: 44px;
    margin-left:20px;
}

.circle{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin:16px;
    border-radius: 50%;
    background: #fff;
}
.circle:first-child{
    margin-left: 0px;
}



.circle-border{
}

.result-view-all-button{
    margin-top: 40px;
    text-align: left;
    margin-left: 20px;
    button{
        padding:20px 80px;
    }
    a{
       letter-spacing: 4px;

    }
}

/*=====================================================
#Price
=====================================================*/
.price-inner-section{
    max-width: 960px;
    margin:60px auto 0;
}


.price-table {
    border: 1px solid #707070;
    border-collapse:collapse;
    margin-top: 60px;
}

.price-table tr {
    padding:16px 20px;
    border: 1px solid #707070;
}

.price-table tr th {
     width:262px;
     background-color:#3E3E3E;
     color: #fff;
     font-size: 24px;
}

.price-table tr td {
    width:698px;
    background-color:#FFFFFF;
    color: #3E3E3E;
    font-size: 24px;
    text-align:left;
    padding-left: 20px;
    padding:20px;
}
.price-text{
    text-align:left;
    margin-top: 12px;
}


/*=====================================================
#コメント
=====================================================*/
// .comments{
//     margin-top: 116px;;
//     position: relative;
//     z-index:1;
// }
// .comments-inner{
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     margin: 0 auto;
//     max-width: 1200px;
//     position: relative;
//     width: 100%;
//     z-index: 1;
// }

// .comments-list{
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     -ms-flex-wrap: wrap;
//         flex-wrap: wrap;
//     line-height: 1.65;
//     margin-top: 40px;
// }

// .comments-item {
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     font-size: 1.6rem;
//     line-height: 1.5;
//     text-align: justify;
//     text-justify: inter-ideograph;
//     font-weight: bold;
// }
// .comment-boxs{
//     background-color: #fff;
//     -webkit-box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
//     box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
// }

// .comments-item:before {
//     content: '';
//     display: block;
//     -webkit-box-flex: 0;
//         -ms-flex: 0 0 56px;
//             flex: 0 0 56px;
//     height: 56px;
//     margin-right: 24px;
// }

// .comments-item:nth-child(1):before {
// background: url(../img/comments1.png) center center/contain no-repeat;
// }
// .comments-item:nth-child(2):before {
// background: url(../img/comments2.png) center center/contain no-repeat;
// }

// .comments-item + .comments-item {
//     margin-top: 28px;
// }



// .comments-fig {
// margin-top: 80px;
// }

// @media (max-width: 767px) {
// .comments-fig {
//     display: none;
// }
// }

// .comments-fig > img {
// width: 180%;
// }
.comment{
    margin-top: 120px;
}
.comment-content-items{
    display: flex;
    justify-content: center;
}

.comment-content-items{
    width:100%;
}
.comment-left-part-contents{
    padding-bottom: 120px;
}

.comment-left-part{
    max-height:604px;
    h2{
        text-align: left;
        padding-top: 120px;
        padding-left: 60px;
        padding-bottom: 60px;
    }
}

.comment-left-part{
     background-color: #fff;
}
.comment-left-part-content{
    display: flex;
    max-height: 100px;
    max-width: 666px;
    margin-bottom: 72px;
    img{
        height: 100px;
        padding-left: 60px;
        padding-right: 32px;
    }
    p{
       padding-right: 60px;
    }
}
.comment-content-item-right-part{
    margin: 80px 0 ;
}




/*=====================================================
#Q&A
=====================================================*/
.qa{

    background: url(../img/qa-bg.png) top right 100% no-repeat;
    background-size: cover;
}
.qa-inner-section{
    padding-bottom: 60px;
}



.qa-accordion-part{
    margin-top: 60px;

}

.qa-items {
    background-color: #fff;
    max-width: 612px;
    margin-bottom: 32px;
    width:50%;
    margin-left:auto;
    text-align:left;
    padding-bottom: 8px;
    dt{
    height:56px;
    position: url(../img/logo-mark.png);
    display: relative;

    }
}
.qa-item-question {
    height:16px;
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 16px 0 14px;
    line-height: 1.5;
}

.qa-item-question:before {
    background: #4973ff;
    border-radius: 50%;
    color: #fff;
    content: 'Q';
    display: inline-block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 24px;
            flex: 0 0 24px;
    font-family: "Montserrat", sans-serif;
    line-height: 24px;
    text-align: center;
    font-weight: 600;
    margin-left: 16px;
    margin-right: 16px;
}
.qa-item-question:after{
    content: '';
    display: inline-block;
    width: 17px;
    height: 16px;
    background: transparent url('../img/plus.png') 0% 0% no-repeat padding-box;    background-size: contain;
    background-size: contain;
    margin-left:auto;
    margin-right: 16px;
}

.qa-item-answer{
    display: none;
    margin:16px;
    background: #3B69FF33 0% 0% no-repeat padding-box;
    border-radius: 4px;
    margin-top: 0px;
    line-height: 1.5;
    margin-bottom: 8px;
    p{
      padding:16px;
    }
}
.is-open{
    display: block;
}



/*=====================================================
#アクセス
=====================================================*/
.access{
    text-align:left;
    color:#fff;
}


.access-inner{
    background-color: #3E3E3E;
    width:76.5%;
}
.access-inner{
    width:auto;
    height:auto;
    h2{
     padding: 120px 0 60px 100px;
    }

}
.access-address{
    padding-left: 100px;
    line-height: 1.5;
}
.access-link-box{
    padding-left: 100px;
    padding-top: 32px;
    padding-bottom: 120px;

    a{
    color:#fff;
    border: 1px solid #FFFFFF;
    padding: 20px 80px;
    font-size:20px;
    }
}
.access-map{
    margin-top: -348px;
    margin-right: auto;
    margin-right:40px ;
    text-align:right;
    width:auto;
    height:auto;

    iframe{

        width: 60%;
    }

}


/*=====================================================
#コンタクト
=====================================================*/
.contact{
    background: url(../img/contact-bg.png) top right 100% no-repeat;
    background-size: cover;
    height:1122px;
    margin-top: 120px;
}

.contact-inner-section{
    padding-top: 60px;
    max-width: 960px;
    margin:auto;

}

.contact-inner-section-title{
    color:#fff;
    background: url(../img/contact1.png) top right 100% no-repeat;
    background-size: cover;



    h2{
      padding-top: 60px;
    }
    p{
      padding-top: 16px;
      padding-bottom: 60px;
    }
}

.contact-form{
    background-color: #fff;
    height:1000px;

}
.contact-form-part{
    max-width: 770px;
    padding-top:60px ;
    margin:auto;
}


.contact-form-item{
    display: flex;
    margin:32px;


    p{
    width:118px;
    margin-right: 60px;
    margin-top: 11px;
    white-space: nowrap;
    text-align: left;

    }

    select{
    padding:11.5px;
    }
    input{


    }
}

.Form-Item-Input{
    margin: 0 0 0 0px;
    margin-top: 5px;;
    padding-left: 15px;
    height: 28px;
    width:100%;
    max-width:532px;
    transition: all .6s ease;
    border-bottom:1px solid #cccccc;
    border-right:none;
    border-left:none;
    border-top:none;
    border-radius:0px;
}

.Form-Item-Label-required{

}


.Form-Item-Label-required:after{
    content: '必須';
    display: inline-block;
    background-size: contain;
    margin-left: 20px;
    color:#fff;
    background-color: #FF4646;
    padding:2px 8px;
    border-radius: 2px;
}
.sex-radio-button{
    margin-top: 10px;
}


.contact-form-item-textarea{
    display: block;
    text-align:right;
    margin:auto;
}



/*=====================================================
#フッター
=====================================================*/
.footer{
    margin-top: 1100px;
    height: 292px;
    background-color: #3E3E3E;
    color: #FFFFFF;
}

.footer-component{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}
.footer-component{
    margin-left: 10%;
}

.footer-left-sns{
    display:flex;
    justify-content: center;
    li{
        padding:16px;
    }
}
.footer-left-text{
    padding-top: 20px;
    li{
        padding-top:20px;
    }
}

.footer-right-part{
    text-align:right;
    margin-right: 10%;
    h2{
        font-size:40px;
    }
    p{
        font-size:12px;
    }
}