@charset "UTF-8";
/*=====================================================
#mixin
=====================================================*/
/*=====================================================
#colors
=====================================================*/
/*=====================================================
# common - 全体に共通するスタイル
=====================================================*/
body {
  font-size: 16px;
  color: #3E3E3E;
  font-family: 'Montserrat', "游ゴシック", sans-serif;
  line-height: 1.2142;
  text-align: center;
  background-color: #F3F3F3;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

img:hover {
  opacity: 0.6;
}

.inner {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: content-box;
}

@media screen and (max-width: 767px) {
  .inner {
    padding: 0 15px;
  }
}

a {
  color: #3E3E3E;
  background-color: transparent;
}

.inner-section-title h2 {
  padding-top: 60px;
}

h2 {
  font-size: 36px;
  font-weight: bold;
}

h1 {
  font-size: 36px;
}

h3 {
  font-size: 20px;
}

.br-sp {
  display: none;
}

nav.globalMenuSp {
  display: none;
}

/*=====================================================
#ヘッダー
=====================================================*/
header {
  background: url(../img/mv.png) top right 100% no-repeat;
  background-size: cover;
}

.header-navigation nav ul {
  display: flex;
  justify-content: center;
}

.header-navigation nav ul li {
  margin: 32px 20px;
  position: relative;
}

.header-navigation nav ul li a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 20px;
  right: 0;
  bottom: 0px;
  width: 100%;
  height: 2px;
  background-color: #9e9c9c;
  transform: scale(0, 1);
  transform-origin: center;
  transition: transform 2.2s;
}

.header-navigation nav ul li a:hover:before {
  transform: scale(1);
  /*ホバー時に等倍へ拡大*/
}

.header-top-part {
  height: auto;
}

.header-top-title {
  padding-top: 153px;
}

.header-top-title h1 {
  padding-top: 153px;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-top-title p {
  margin-top: 40px;
  text-align: left;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-top-title button {
  font-size: 18px;
  font-weight: bold;
  background-color: #FFAA3B;
  border-radius: 4px;
  width: 282px;
  margin-top: 32px;
  height: 50px;
}

.header-top-title button a {
  color: #FFFFFF;
}

.header-top-title button:hover {
  opacity: 0.6;
}

.header-top-part-sp {
  display: none;
}

.floating {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.floating a {
  display: block;
  color: #fff;
  padding: 8px;
  text-decoration: none;
  opacity: 0.6;
  background-color: transparent;
}

.floating a:hover {
  opacity: 1;
}

.hamburger img {
  display: none;
}

/*=====================================================
#ニュース
=====================================================*/
.news-inner-section {
  margin: 120px 0;
  max-width: 1200px;
  height: auto;
  background-color: #fff;
}

.news-text-area-content {
  margin-top: 60px;
}

.news-section-text-area {
  margin: 0 20px;
  border-top: 1px solid;
  margin-top: 0px;
  display: flex;
  justify-content: flex-start;
  vertical-align: center;
}

.news-section-text-area p {
  text-align: left;
  padding: 40px;
  padding-left: 0px;
}

.news-section-text-area img {
  width: 43px;
  height: 46px;
}

.news-section-text-area:nth-child(3) {
  border-bottom: 1px solid;
}

.news-text-area-date-button {
  font-size: 14px;
  width: 121px;
  height: 30px;
  border: 2px solid #3B69FF;
  border-radius: 50px;
  background-color: #fff;
}

.news-text-area {
  font-size: 18px;
}

.news-more-button {
  margin-top: 50px;
}

.news-more-button a {
  border: 1px solid;
  letter-spacing: 4px;
  padding: 10px 50px;
  background-color: #fff;
}

.news-more-button button a:hover {
  opacity: 0.6;
  color: #fff;
  background-color: #3E3E3E;
}

/*=====================================================
#サービス
=====================================================*/
.service {
  background-color: #3E3E3E;
  height: auto;
}

.service-inner-section h2 {
  color: #FFFFFF;
}

.service-content-items {
  display: flex;
  max-width: 960px;
  background-color: #fff;
  margin: 60px auto 0;
}

.service-content-item {
  max-width: 230px;
  margin: 60px auto 60px;
}

.service-content-item img {
  width: 64px;
  height: 64px;
}

.service-content-item h3 {
  font-size: 20px;
  font-weight: bold;
  padding-top: 8px;
}

.service-content-item p {
  padding-top: 20px;
}

/*=====================================================
#Result
=====================================================*/
.result {
  margin-top: 215px;
}

.result-inner-section {
  max-width: 1240px;
  background-color: #3E3E3E;
  height: 754px;
  margin-bottom: 60px;
}

.result-inner-section h2 {
  color: #fff;
  text-align: left;
  margin-left: 60px;
}

.result-content-items {
  margin-top: 60px;
  display: flex;
}

.result-content-item {
  background-color: #fff;
  margin: 0 20px;
  text-align: left;
}

.result-content-item h3 {
  padding: 16px;
}

.result-content-item p {
  padding-bottom: 16px;
  padding-left: 16px;
}

.result-circle {
  text-align: left;
  margin-top: 44px;
  margin-left: 20px;
}

.circle {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 16px;
  border-radius: 50%;
  background: #fff;
}

.circle:first-child {
  margin-left: 0px;
}

.result-view-all-button {
  margin-top: 40px;
  text-align: left;
  margin-left: 20px;
}

.result-view-all-button button {
  padding: 20px 80px;
}

.result-view-all-button a {
  letter-spacing: 4px;
}

.result-view-all-button button:hover {
  opacity: 0.6;
}

/*=====================================================
#Price
=====================================================*/
.price-inner-section {
  max-width: 960px;
  margin: 60px auto 0;
}

.price-table {
  border: 1px solid #707070;
  border-collapse: collapse;
  margin-top: 60px;
}

.price-table tr {
  padding: 16px 20px;
  border: 1px solid #707070;
}

.price-table tr th {
  width: 262px;
  background-color: #3E3E3E;
  color: #fff;
  font-size: 24px;
}

.price-table tr td {
  width: 698px;
  background-color: #FFFFFF;
  color: #3E3E3E;
  font-size: 24px;
  text-align: left;
  padding-left: 20px;
  padding: 20px;
}

.price-text {
  text-align: left;
  margin-top: 12px;
}

/*=====================================================
#コメント
=====================================================*/
.comment {
  margin-top: 120px;
}

.comment-content-items {
  display: flex;
  justify-content: center;
}

.comment-content-items {
  width: 100%;
}

.comment-left-part-contents {
  padding-bottom: 120px;
}

.comment-left-part {
  max-height: 604px;
}

.comment-left-part h2 {
  text-align: left;
  padding-top: 120px;
  padding-left: 60px;
  padding-bottom: 60px;
}

.comment-left-part {
  background-color: #fff;
}

.comment-left-part-content {
  display: flex;
  max-height: 100px;
  max-width: 666px;
  margin-bottom: 72px;
}

.comment-left-part-content img {
  height: 100px;
  padding-left: 60px;
  padding-right: 32px;
}

.comment-left-part-content p {
  padding-right: 60px;
}

.comment-content-item-right-part {
  margin: 80px 0;
}

/*=====================================================
#Q&A
=====================================================*/
.qa {
  background: url(../img/qa-bg.png) top right 100% no-repeat;
  background-size: cover;
}

.qa-inner-section {
  padding-bottom: 60px;
}

.qa-accordion-part {
  margin-top: 60px;
}

.qa-items {
  background-color: #fff;
  max-width: 612px;
  margin-bottom: 32px;
  width: 50%;
  margin-left: auto;
  text-align: left;
  padding-bottom: 8px;
}

.qa-items dt {
  height: 56px;
  position: url(../img/logo-mark.png);
  display: relative;
}

.qa-item-question {
  height: 16px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 0 14px;
  line-height: 1.5;
}

.qa-item-question:before {
  background: #4973ff;
  border-radius: 50%;
  color: #fff;
  content: 'Q';
  display: inline-block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  font-family: "Montserrat", sans-serif;
  line-height: 24px;
  text-align: center;
  font-weight: 600;
  margin-left: 16px;
  margin-right: 16px;
}

.qa-item-question:after {
  content: '';
  display: inline-block;
  width: 17px;
  height: 16px;
  background: transparent url("../img/plus.png") 0% 0% no-repeat padding-box;
  background-size: contain;
  background-size: contain;
  margin-left: auto;
  margin-right: 16px;
}

.qa-item-answer {
  display: none;
  margin: 16px;
  border-radius: 4px;
  margin-top: 0px;
  line-height: 1.5;
  margin-bottom: 8px;
}

.qa-item-answer p {
  padding: 16px;
}

.is-open {
  display: block;
}

/*=====================================================
#アクセス
=====================================================*/
.access {
  text-align: left;
  color: #fff;
}

.access-inner {
  background-color: #3E3E3E;
  width: 76.5%;
}

.access-inner {
  width: auto;
  height: auto;
}

.access-inner h2 {
  padding: 120px 0 60px 100px;
}

.access-address {
  padding-left: 100px;
  line-height: 1.5;
}

.access-link-box-sp {
  display: none;
}

.access-link-box {
  padding-left: 100px;
  padding-top: 32px;
  padding-bottom: 120px;
}

.access-link-box a {
  color: #fff;
  border: 1px solid #FFFFFF;
  padding: 20px 80px;
  font-size: 20px;
}

.access-link-box :hover {
  opacity: 0.6;
}

.access-map {
  margin-top: -348px;
  margin-right: auto;
  margin-right: 40px;
  text-align: right;
  width: auto;
  height: auto;
}

.access-map iframe {
  width: 60%;
}

/*=====================================================
#コンタクト
=====================================================*/
.contact {
  background: url(../img/contact-bg.png) top right 100% no-repeat;
  background-size: cover;
  margin-top: 120px;
}

.contact-inner-section {
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 960px;
  margin: auto;
}

.contact-inner-section-title {
  color: #fff;
  background: url(../img/contact1.png) top right 100% no-repeat;
  background-size: cover;
  border-radius: 12px 12px 0px 0px;
}

.contact-inner-section-title h2 {
  padding-top: 60px;
}

.contact-inner-section-title p {
  padding-top: 16px;
  padding-bottom: 60px;
}

.contact-form {
  background-color: #fff;
  padding-bottom: 15px;
  border-radius: 0px 0px 12px 12px;
}

.contact-form-part {
  max-width: 770px;
  padding-top: 60px;
  margin: auto;
}

.contact-form-item {
  display: flex;
  margin: 32px;
}

.contact-form-item p {
  width: 118px;
  margin-right: 60px;
  margin-top: 11px;
  white-space: nowrap;
  text-align: left;
}

.contact-form-item select {
  padding: 11.5px;
}

.Form-Item-Input {
  margin: 0 0 0 0px;
  margin-top: 5px;
  padding-left: 15px;
  height: 28px;
  width: 100%;
  max-width: 532px;
  transition: all .6s ease;
  border-bottom: 1px solid #cccccc;
  border-right: none;
  border-left: none;
  border-top: none;
  border-radius: 0px;
}

.Form-Item-Label-required:after {
  content: '必須';
  display: inline-block;
  background-size: contain;
  margin-left: 20px;
  color: #fff;
  background-color: #FF4646;
  padding: 2px 8px;
  border-radius: 2px;
}

.contact-form-item-textarea {
  display: block;
  text-align: right;
  margin: auto;
}

.contact-inputBox {
  display: flex;
  margin-top: 10px;
}

.contact-radio {
  padding-right: 40px;
}

.contact-message-title {
  text-align: left;
}

textarea {
  max-width: 700px;
  height: 200px;
  width: 100%;
}

textarea:focus {
  color: #4973FF;
}

.contact-privacy {
  text-align: left;
  display: block;
}

.contact-privacy input {
  width: 17px;
  height: 13px;
}

.contact-privacy label {
  font-size: 18px;
}

.contact-form-item button {
  max-width: 173px;
  background-color: #FFAA3B;
  color: #fff;
  border-radius: 10px;
  padding: 16px 50px;
}

.contact-form-item button:hover {
  opacity: 0.6;
}

/*=====================================================
#フッター
=====================================================*/
.footer {
  padding-top: 30px;
  background-color: #3E3E3E;
  color: #FFFFFF;
}

.footer-component {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}

.footer-component {
  margin-left: 10%;
}

.footer-left-sns {
  display: flex;
  justify-content: center;
}

.footer-left-sns li {
  padding: 16px;
}

.footer-left-text {
  padding-top: 20px;
  padding-bottom: 60px;
}

.footer-left-text li {
  padding-top: 20px;
}

.footer-right-part {
  text-align: right;
  margin-right: 10%;
}

.footer-right-part h2 {
  font-size: 40px;
}

.footer-right-part p {
  font-size: 12px;
  padding-top: 10px;
}

/*=====================================================
#レスポンシブデザイン
=====================================================*/
@media screen and (max-width: 768px) {
  /* 共通部分 */
  body {
    font-size: 14px;
  }
  .br-lp {
    display: none;
  }
  .br-sp {
    display: block;
  }
  /* ヘッダーレスポンシブ */
  header {
    background: transparent;
    background-size: cover;
    height: 667px;
  }
  .header-top-part {
    background: url(../img/mv.png) top right 100% no-repeat;
    background-size: cover;
  }
  .header-navigation {
    display: none;
  }
  .header-top-part-sp {
    display: block;
    text-align: left;
  }
  .header-top-part-sp h2 {
    font-size: 23px;
    padding: 20px 16px;
  }
  .header-top-title {
    padding-top: 153px;
  }
  .header-top-title h2 {
    font-size: 24px;
    text-align: left;
    padding-left: 16px;
    line-height: 1.666666667;
  }
  .header-top-title button {
    font-size: 16px;
    border-radius: 4px;
    max-width: 222px;
    width: 100%;
  }
  /* ハンバーガーメニュ-レスポンシブ */
  .hamburger {
    display: block;
    position: fixed;
    z-index: 3;
    right: 13px;
    top: 18px;
    width: 42px;
    height: 42px;
    color: #fff;
    cursor: pointer;
    text-align: center;
  }
  .hamburger img {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 6px;
    padding-top: 10px;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  nav.globalMenuSp {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    width: 100%;
    opacity: 0;
    transition: opacity .6s ease, visibility .6s ease;
  }
  nav.globalMenuSp ul {
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }
  nav.globalMenuSp ul li {
    list-style-type: none;
    padding: 0;
    width: 100%;
    transition: .4s all;
  }
  nav.globalMenuSp ul li:last-child {
    padding-bottom: 0;
  }
  nav.globalMenuSp ul li:hover {
    background: #ddd;
  }
  nav.globalMenuSp ul li a {
    display: block;
    color: #fff;
    padding: 1em 0;
    text-decoration: none;
  }
  /* このクラスを、jQueryで付与・削除する */
  nav.globalMenuSp.active {
    opacity: 100;
  }
  /* ニュースレスポンシブ */
  .news {
    margin-top: 00px;
  }
  .news-inner-section {
    margin: 0 4px;
    margin-top: -80px;
    height: auto;
    margin-bottom: 60px;
  }
  .news-section-text-area {
    margin: 0;
    border-top: 1px solid;
    margin-top: 0px;
    display: block;
  }
  .news-section-text-area p {
    text-align: left;
    padding-top: 16px;
    padding-left: 16px;
    padding-bottom: 12px;
    padding-right: 8px;
  }
  .news-section-text-area img {
    width: 43px;
    height: 46px;
  }
  .news-section-text-area:nth-child(3) {
    border-bottom: 1px solid;
  }
  .news-text-area {
    font-size: 14px;
    max-width: 272px;
  }
  .news-more-button {
    padding-bottom: 60px;
  }
  .news-more-button a {
    border: 1px solid;
    letter-spacing: 4px;
    padding: 16px 100px;
    background-color: #fff;
  }
  .news-more-button button a:hover {
    opacity: 0.6;
    color: #fff;
    background-color: #3E3E3E;
  }
  /* サービスレスポンシブ */
  .service {
    height: auto;
    background: linear-gradient(180deg, #3E3E3E 0%, #3E3E3E 480px, #F3F3F3 100px, #F3F3F3 100%);
  }
  .service-inner-section {
    padding-bottom: 60px;
  }
  .service-content-items {
    display: block;
    padding-bottom: 40px;
  }
  .service-content-item {
    padding-top: 40px;
    margin: 36px auto 36px;
    max-width: 100%;
  }
  .service-content-item img {
    width: 64px;
    height: 64px;
  }
  .service-content-item h3 {
    font-size: 20px;
    font-weight: bold;
    padding-top: 23.62px;
  }
  .service-content-item p {
    font-size: 14px;
    padding-top: 20px;
    padding: 20px 16px 0px 16px;
  }
  /* resultレスポンシブ */
  .result {
    margin-top: auto;
    height: auto;
  }
  .result-content-items {
    margin-top: 60px;
  }
  .result-circle {
    text-align: center;
    margin-top: 44px;
  }
  .result-view-all-button {
    margin-top: 10px;
    text-align: center;
    margin: 0 auto;
  }
  .result-view-all-button button {
    padding: 16px 100px;
  }
  .result-view-all-button a {
    letter-spacing: 4px;
  }
  .result-view-all-button button:hover {
    opacity: 0.6;
  }
  .result-inner-section {
    height: auto;
    padding-bottom: 40px;
    margin-bottom: 0px;
  }
  /* priceレスポンシブ */
  /* accessレスポンシブ */
  .access {
    text-align: left;
    background-color: #3E3E3E;
  }
  .access-inner {
    width: 100%;
  }
  .access-inner {
    width: 100%;
    text-align: left;
    height: auto;
  }
  .access-inner h2 {
    text-align: left;
    padding: 0px;
    padding-top: 40px;
    padding-left: 16px;
  }
  .access-address {
    padding-left: 16px;
    line-height: 1.5;
    padding-top: 40px;
    padding-bottom: 24px;
  }
  .access-link-box {
    display: none;
    padding: 0px;
  }
  .access-link-box a {
    color: #fff;
    border: 1px solid #FFFFFF;
    padding: 0px;
    font-size: 20px;
  }
  .access-link-box :hover {
    opacity: 0.6;
  }
  .access-map {
    margin-top: 0px;
    margin-right: 0px;
    margin-right: 0px;
    text-align: right;
    width: auto;
    margin: 0 16px;
    height: auto;
  }
  .access-map iframe {
    width: 100%;
    padding: 0px;
    height: 241px;
  }
  .access-link-box-sp {
    display: block;
    text-align: center;
    margin: 24px auto;
    padding-bottom: 40px;
    margin-bottom: 0px;
    max-width: 339px;
  }
  .access-link-box-sp a {
    color: #fff;
    border: 1px solid #FFFFFF;
    padding: 10px 100px;
    font-size: 18px;
  }
  .access-link-box-sp :hover {
    opacity: 0.6;
  }
  /*=


/* contactレスポンシブ */
  .contact {
    background: url(../img/contact-bg.png) top right 100% no-repeat;
    background-size: cover;
    margin-top: 0px;
  }
  .contact-inner-section {
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 343px;
    width: 100%;
    margin: auto 16px;
  }
  .contact-inner-section-title {
    text-align: center;
    border-radius: 0px 0px 0px 0px;
  }
  .contact-inner-section-title h2 {
    padding-top: 60px;
    font-size: 30px;
  }
  .contact-inner-section-title p {
    padding-top: 16px;
    text-align: left;
    padding-bottom: 60px;
    margin: 0 auto;
  }
  .contact-form {
    border-radius: 0px 0px 0px 0px;
  }
  .contact-form-item {
    display: block;
    margin: 12px;
  }
  .contact-form-item p {
    width: auto;
    margin: 0px;
    padding-bottom: 16px;
    white-space: nowrap;
    text-align: left;
    font-size: 16px;
  }
  .contact-form-item select {
    padding: 11.5px;
    text-align: left;
    width: 100%;
    margin: 0px;
    margin-left: auto;
  }
  .contact-form-item-textarea {
    display: block;
    text-align: right;
    margin: auto;
  }
  .contact-inputBox {
    margin-top: -5px;
  }
  .Form-Item-Input {
    padding-left: 0px;
  }
  .contact-message-title {
    padding-top: 32px;
    padding-bottom: 16px;
    font-size: 16px;
  }
  .contact-form-item button {
    margin-top: 25px;
    max-width: 165px;
    background-color: #FFAA3B;
    color: #fff;
    border-radius: 10px;
    padding: 16px 50px;
    text-align: center;
    margin: 0 auto;
  }
  .contact-form-item button:hover {
    opacity: 0.6;
  }
  /* footerレスポンシブ */
  .footer-component {
    padding-top: 40px;
    display: block;
    margin-left: 0px;
  }
  .footer-left-sns {
    display: flex;
    justify-content: center;
  }
  .footer-left-sns li {
    padding: 0px;
  }
  .footer-left-sns li:first-child {
    padding-right: 50px;
  }
  .footer-left-text {
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .footer-left-text li {
    padding-top: 26px;
  }
  .footer-right-part {
    text-align: center;
    margin-right: 0%;
    padding-bottom: 57px;
  }
  .footer-right-part h2 {
    font-size: 32px;
    margin-top: -10px;
  }
  .footer-right-part p {
    font-size: 12px;
    padding-top: 10px;
  }
}
